*.pyc
*.egg-info

# Если вы программируете на Mac
.DS_Store

# Если вы пользуетесь виртуальными окружениями
# в проектах. Я, например, обычно ими пользуюсь.
/env

# Настройки и хранение секретных данных (подробнее об этом - в следующем разделе)
/.env